<table class='table'>
  <tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>following</th>
    <th class="following-count-<%= user.id %>">
      <%= link_to following_user_path(user) do %>
        <%= render 'users/following_count', user: user %>
      <% end %>
    </th>
  </tr>
  <tr>
    <th>followers</th>
    <th class="followers-count-<%= user.id %>">
      <%= link_to followers_user_path(user) do %>
        <%= render 'users/followers_count', user: user %>
      <% end %>
    </th>
  </tr>
</table>

<div class='row'>
  <% if user == current_user %>
    <%= link_to '',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
  <% else %>
  <div class="follow-button-<%= user.id %>">
    <%= render 'users/follow_button', user: user %>
  </div>
  <% end %>
</div>