<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2>User info</h2>
    <%= form_with model:@user, local:true do |f| %>
      <%= render 'layouts/errors', obj: @user %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control name" %>
      </div>
     <div class="form-group">
        <div class="image_form">
          <div class="image_form__contents">
            <!--ラベルでfile_fieldとicon、プレビュー画像を紐付けます-->
            <%= f.label :image, class: 'image_label' do %>
              <div class="prev-contents">
                <!--既に登録されている画像があれば表示をさせます-->
                <% if current_user.profile_image.present? %>
                  <div class="prev-content">
                    <%= attachment_image_tag(current_user, :profile_image, alt: "preview", class: "prev-image") %>
                  </div>
                <% else %>
                  <!--既に登録されている画像がなければiconを表示させます-->
                  <div class="no-img">
                    <%= icon('fas', 'image', class: 'photo-icon') %>
                  </div>
                <% end %>
                <!--file_fieldはdisplay: none;で隠します-->
                <%= f.file_field :profile_image, class: 'profile-img-field mt-2' %>
            <% end %>
              </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :introduction %>
        <%= f.text_area :introduction, class: "form-control introduction" %>
      </div>
      <div class="form-group">
        <%= f.submit class: 'btn btn-secondary' %>
      </div>
    <% end %>

    <%= link_to '退会', user_destroy_confirm_path %>
  </div>
</div>
