<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">

      <h2><%= @user.name %>さんとのチャット</h2>

      <table class="table table-borderless chat-table">
        <thead>
          <tr>
            <th style="text-align: left;">
              <%= @user.name %>
            </th>
            <th style="text-align: right;">
              <%= current_user.name %>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @chats.each do |chat| %>
            <% if chat.user_id != current_user.id %>
            <tr>
              <td class="message-box">
                <p class="message other-user-message">
                  <%= chat.message %>
                </p>
              </td>
              <td></td>
            </tr>
            <% else %>
            <tr>
              <td></td>
              <td class="message-box">
                <p class="message current-user-message">
                  <%= chat.message %>
                </p>
              </td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>

      <%= form_with model: @chat do |f| %>
      <div id="message-error"></div>
        <%= f.text_field :message, class: 'form-control' %>
        <%= f.hidden_field :room_id %>
      <% end %>

    </div>
  </div>
</div>